<p align="center" class="head">
  <% unless @board.venue.iframe_url? -%>
  <%= image_tag "bodhismall2.gif", :align => :bottom, :width => 20, :height => 22, :border => 0, :alt => 'bodhi leaf' %>
  <span class="title"><%= @board.venue.fullname %> <%= _ "Rideshare Board" %></span>
  <%= image_tag "bodhismall1.gif", :align => :bottom, :width => 20, :height => 22, :border => 0, :alt => 'bodhi leaf' %>
  <br/>
  <% end -%>
  <% if @board.venue.languages.size > 1 -%>
  <%   for language in @board.venue.languages -%>
  <a href="<%= "#{@path_prefix}/../../../#{language}/#{@board.venue.name}/#{@board.name}" %>"><%= language%></a>
  <%   end -%>
  <% end -%>
  <% if @board.venue.boards.size > 1 %>
  | 
  <%   for board in @board.venue.boards -%>
  <%     if board.enabled -%>
  <%       if board == @board -%>
  <span class="inactive"><i><%= board.name.capitalize %></i> <%= _ "Rideboards" %></span>
  <%       else -%>
  <a href="<%= "#{board.name}" %>"><i><%= board.name.capitalize %></i> <%= _ "Rideboards" %></a>
  <%       end -%>
  |
  <%     end -%>
  <%   end -%>
  <% end -%>
  <br/>
  <% unless @board.venue.iframe_url? -%>
  <img src="/images/thinrule.gif" width="100%" height="7" alt="thinrule"/>
<% if @board.venue.home_url? %>
| <%= link_to(_("Home"), @board.venue.home_url) -%>
<% end -%>
<% if @board.venue.schedule_url? %>
| <%= link_to(_("Course Schedule"), @board.venue.schedule_url) -%>
<% end -%>
<% if @board.venue.checklist_url? %>
| <%= link_to(_("Course Checklist"), @board.venue.checklist_url) -%>
<% end -%>
<% if @board.venue.home_url? or @board.venue.schedule_url? or @board.venue.checklist_url? -%>
 | <br />
  <%   end -%>
  <% end %>
</p>

<%= render :partial => "public/board",
           :locals => {:board_path_prefix => @path_prefix }%>
