<% if @board.map_url? or @board.directions_url? or @board.transportation_url? %>
<p align="center" style="margin-top:-1em;">
<% if @board.map_url? -%>
| <%= link_to(_("Location Map"), @board.map_url) -%>
<% end -%>
<% if @board.map_url? -%>
| <%= link_to(_("Directions"), @board.directions_url) -%>
<% end -%>
<% if @board.transportation_url? -%>
| <%= link_to(_("Public Transportation Options"), @board.transportation_url) -%>
<% end -%>
 |
</p>
<% end %>

<p class="medtext" align="center">
  <strong>
    <%= _('This rideshare board is hosted and maintained by volunteers solely for the purpose of facilitating rides to Vipassana courses.') %>
    <br/>
    <% t = _('It is available as a service to students who wish to participate.') %>
    <% unless t.blank? -%>
    <%= t %>
    <br/>
    <% end -%>
    <%= _ 'We cannot guarantee a ride, and assume no responsibility whatsoever for the safety of participants or for any other issues arising as a result of participation.' %>
  </strong>
  <% if @board.venue.respond_to? :privacy_policy -%>
  <br/>
  <a target="_blank" href="http://www.dhamma.org/en/privacy.shtml"><%= _ "Privacy Policy" %></a>
  <% end -%>
</p>
  
<div align="center">
  <table width="95%" border="0">
    <tr>
      <td><!-- Begin Rideboards-->
	<div class="on">
	  <table cellspacing="8">
	    <tr>
	      <td class="title">
		<strong><%= _ "Ride Requests" %></strong>
	      </td>
	    </tr>
	    <tr>
	      <td>
		<a href="<%= to_url('wanted') %>"><%= _ "Request A Ride" %></a>
	      </td>
	    </tr>
	    <tr>
	      <td>
		<a href="#request"><%= _ 'View Ride Requests' %></a>
	      </td>
	    </tr>
	  </table>
	</div>
      </td>
      <td><!-- Begin Rideboards-->
	<div class="on">
	  <table cellspacing="8">
	    <tr>
	      <td class="title">
		<strong><%= _ 'Ride Offers' %></strong>
	      </td>
	    </tr>
	    <tr>
	      <td>
		<a href="<%= to_url('offer') %>"><%= _ 'Offer A Ride' %></a>
	      </td>
	    </tr>
	    <tr>
	      <td>
		<a href="#offer"><%= _ 'View Ride Offers' %></a>
	      </td>
	    </tr>
	  </table>
	</div>
      </td>
    </tr>
  </table>
</div>

<div align="center">
  <table width="95%" border="0">
    <tr>
      <td><!-- Begin Rideboards-->
        <div class="on"><a name="<%= @board.name%>"></a>
	  <p align="center" class="heading"><%= @board.fullname %></p>
	  <table align="center" width="95%" border="0" cellpadding="0" cellspacing="0">
            <tr align="center">
              <td class="title">
		<a name="request"></a>
		<strong><%= _ 'Ride Requests' %></strong>
	      </td>
            </tr>
          </table>
          <br/>
	  
	  <table border="0" cellspacing="0" cellpadding="1" align="center" width="96%">
  	    <tr bgcolor="#1E8776">
              <td>
		<table bgcolor="ffffff" border="0" width="100%" cellspacing="0" cellpadding="2" align="center">
                  <tr align="center">
                    <td class="headingsmall" width="18%"><%= _ 'Name' %></td>
                    <td class="headingsmall" width="18%"><%= _ 'Location' %></td>
                    <td class="headingsmall" width="16%"><%= _ 'Date Ride Needed' %></td>
                    <td class="headingsmall" width="16%"><%= _ 'Contact' %></td>
                    <td class="headingsmall" width="16%"><%= _ 'Delete Entry' %></td>
                  </tr>
		  <% reset_cycle
		     for listing in @board.listings 
		       unless listing.driver%>
		  <tr align="center" valign="top" class='<%= cycle("table_line_odd", "table_line_even") %>' >
		    <td><%= listing.name %></td>
		    <td><%= listing.location %></td>
		    <td><%= listing.ridedate %></td>
		    <td><a href="<%= to_url(listing.id, 'new_contact') %>"><%= _ 'Contact Me' %></a></td>
		    <td><a href="<%= to_url(listing.id, 'edit') %>">X</a></td>
                  </tr>
		  <%   end
		     end %>
		</table>
              </td>
	    </tr>
	  </table>
	  <br/>
	  <br/>
	  <table align="center" width="95%" border="0" cellpadding="0" cellspacing="0">
            <tr align="center">
              <td class="title">
		<a name="offer"></a>
		<strong><%= _ 'Rides Offers' %></strong>
	      </td>
	    </tr>
	  </table>
	  <br/>
   
	  <table border="0" cellspacing="0" cellpadding="1" align="center" width="96%">
  	    <tr bgcolor="#1E8776">
              <td>
		<table bgcolor="ffffff" border="0" width="100%" cellspacing="0" cellpadding="2" align="center">
		  <tr align="center">
                    <td class="headingsmall" width="18%"><%= _ 'Name' %></td>
                    <td class="headingsmall" width="18%"><%= _ 'Location' %></td>
                    <td class="headingsmall" width="16%"><%= _ 'Date Ride Offered' %></td>
                    <td class="headingsmall" width="16%"><%= _ 'Contact' %></td>
                    <td class="headingsmall" width="16%"><%= _ 'Delete Entry' %></td>
		  </tr>
		  <% reset_cycle
		     for listing in @board.listings 
		       if listing.driver  %>
		  <tr align="center" valign="top" class='<%= cycle("table_line_odd", "table_line_even") %>' >
                    <td><%= listing.name %></td>
                    <td><%= listing.location %></td>
                    <td><%= listing.ridedate %></td>
		    <td><a href="<%= to_url(listing.id, 'new_contact') %>"><%= _ 'Contact Me' %></a></td>
		    <td><a href="<%= to_url(listing.id, 'edit') %>">X</a></td>             
		  </tr>
		  <%    end
		      end %>
		</table>
              </td>
	    </tr>
	  </table>
	  <br />
	  <br />
        </div>
      </td>
    </tr>
  </table>
</div>
<!-- End Rideboards-->

<% unless @board.venue.iframe_url? %>
<p align="center"><img src="/images/thinrule.gif" width="100%" height="7" alt="thinrule"/></p>
<p align="center">
<% if @board.venue.home_url? -%>
| <%= link_to(_("Home"), @board.venue.home_url) -%>
<% end -%>
<% if @board.venue.schedule_url? -%>
| <%= link_to(_("Course Schedule"), @board.venue.schedule_url) -%>
<% end -%>
<% if @board.venue.checklist_url? -%>
| <%= link_to(_("Course Checklist"), @board.venue.checklist_url) -%>
<% end -%>
<% if @board.venue.home_url? or @board.venue.schedule_url? or @board.venue.checklist_url? -%>
 |
<% end -%>
</p>
<% end %>
