<fieldset>
  <p class="title" align="center">
    <% if @listing.driver -%>
    <%= _ "Ride Offer Confirmation" %>.
    <% else -%>
    <%= _ "Ride Request Confirmation" %>.
    <% end -%>
  </p>
  <h4 align="center">
    <% if @listing.driver -%>
    <%= _ "Your Offer has been added to the Ride Board" %>. <%= _ "Please remember this removal code" %>: <%= @listing.password %>
    <% else -%>
    <%= _ "Your Request has been added to the Ride Board" %>. <%= _ "Please remember this removal code" %>: <%= @listing.password %>
    <% end -%>
    <br/>
    <%= _ 'You will be asked for it before you can remove your entry from the board' %>.
  </h4>
  <p align="center">
    (<%= _ "the removal code has also been sent to your email address" %>)
  </p>
</fieldset>
<p>
  <a href="<%= "." %>"><%= _ "Return to rideboard" %></a>
</p>
