<fieldset>
  <p class="title" align="center">
    <% if @listing.driver -%>
    <%= _ "Ride Offer Exists" %>!
    <% else -%>
    <%= _ "Ride Request Exists" %>!
    <% end -%>
  </p>
  <h4 align="center">
    <% if @listing.driver -%>
    <%= _ "Your ride offer is already on the rideboard" %>!
    <% else -%>
    <%= _ "Your ride request is already on the rideboard" %>!
    <% end -%>
  </h4>
</fieldset>
<p>
  <a href="<%= "." %>"><%= _ "Return to rideboard" %></a>.
</p>
