<p align="center">
  <% unless @board.venue.iframe_url? %>
  <img src="/images/bodhismall2.gif"  align="bottom" width="20" height="22" border="0" alt="bodhi leaf"/>
  <span class="title"><%= @board.venue.fullname + " " + _ "Rideshare Board" %></span>
  <img src="/images/bodhismall1.gif"  align="bottom" width="20" height="22" border="0" alt="bodhi leaf"/>
  <br/>
  <% end %>
  <!-- TODO reactivate the languages after fixing the bug -->
  <% if @board.venue.languages.size > 100
  for language in @board.venue.languages %>
  <a href="<%= "#{@path_prefix}/../#{language.code[0,2]}" %>"><%=h language.lang %></a>
  <% end
     end %>
  <br/>
  <% unless @board.venue.iframe_url? %>
  <img src="/images/thinrule.gif" width="100%" height="7" alt="thinrule"/>
  <%= "| " + link_to(_ "Home", @board.venue.home_url) if @board.venue.home_url? %>
  <%= "| " + link_to(_ "Course Schedule", @board.venue.schedule_url) if @board.venue.schedule_url? %>
  <%= "| " + link_to(_ "Course Checklist", @board.venue.checklist_url) if @board.venue.checklist_url? %>
  <%= " |<br/>" if @board.venue.home_url? or @board.venue.schedule_url? or @board.venue.checklist_url? %>        
  <% end %>
  | 
  <% for board in @board.venue.boards %>
  <% if board.enabled
     if board == @board %>
  <span class="inactive"><%= board.name.capitalize + " " + _ "Rideboards" %></span>	     	  
  <% else %>
  <a href="<%= "#{@path_prefix}/boards/#{board.id}" %>"><%= board.name.capitalize + " " + _ "Rideboards" %></a>
  <% end %>
  |
  <% end %>
  <% end %>
</p>


<%= render :partial => "public/board",
           :locals => {:board_path_prefix => "#{@path_prefix}/boards/#{@board.id}"}%>
