<p class="title" align="center">
  <%= _ "Removal code reminder" %>
</p>
<fieldset>
  <div id="center_form">
    <h3 align="center"><%= _ "Email message sent to" %> '<%= @listing.name %>'</h3>
  </div>
</fieldset>

<p>
  <a href="<%= "../.." %>"><%= _ "Return to rideboard" %></a>
</p>
