<p class="title" align="center">
  <%= _ "Authorization for removal of listing" %>: <%= @listing.name %>
</p>
<fieldset>
  <div id="center_form">
    <form method="post"
	  action="<%= "../#{@listing.id}" %>">
      <p>
	<%= _ "Please enter your removal code" %>
	<br/>
        <input name="_method" type="hidden" value="delete"/>
        <input name="password" type="password"/></p>
      <p>
	<% if @listing.driver -%>
        <%= submit_tag _ "Remove Offer"%>
        <% else -%>
        <%= submit_tag _ "Remove Request"%>
        <% end -%>
      </p>
    </form>
    <p>
      <% if @listing.driver -%>
      <%= _ "If you have forgotten your removal code, it can be sent to the email address that was entered in the rideboard to remove this Offer" %>.
      <% else -%>
      <%= _ "If you have forgotten your removal code, it can be sent to the email address that was entered in the rideboard to remove this Request" %>.
      <% end -%>
    </p>
    <form action="reminder" method="post">
      <%= submit_tag _ "Remind Me"%>
    </form>
  </div>
</fieldset>

<p>
  <a href="<%= "../.." %>"><%= _ "Return to rideboard" %></a>
</p>
