<p class="title" align="center">
  <%= _ "The following email message was sent to" %> <%=  @contact.listing.name %>:
</p>
<fieldset>
  <div id="center_page">
    <pre>
      <%= @message %>
    </pre>
  </div>
</fieldset>

<p>
  <a href="<%= "../.." %>"><%= _ "Return to rideboard" %></a>
</p>
