<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @board.venue.fullname if @board.venue %> Ride Share Boards</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'rides' %>
  <% if @board %>
  <link rel="alternate" type="application/atom+xml" title="<%= @board.name.capitalize + ' ' + 'Rideboards' + ' - ' + @board.venue.fullname %>" href="<%= @path_prefix %>.rss">
  <% end %>
</head>
<body>

<% if flash[:login_notice] %>
<fieldset class="notice">
<legend>Notice</legend>
<p style="color: green; font-weight: bold;"><%= flash[:login_notice] %></p>
</fieldset>
<% end %>

<%= yield  %>

</body>
</html>
